.App {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.App.hide {
  padding-top: 10vh;
  transition: padding 2s;
}

h1 {
  letter-spacing: 25px;
  font-family: cursive;
}

.options {
  display: flex;
  flex-direction: row;;
  margin-top: 30px;
}

.MuiTextField-root {
  width: 500px;
}

.MuiButtonBase-root.MuiButton-contained {
  margin: 0 30px;
}